$global--font-size: 16px !default;

$global--font-light: 300;
$global--font-regular: 400;
$global--font-bold: 700;

$global--max-width: 1400;
$global--thin-width: 880;

$general-font-stack: 'Open Sans', 'Arial', Times, sans-serif;
$heading-font-stack: 'Gilroy', 'Open Sans', 'Arial', Times, sans-serif;
