$color-white: #fff;
$color-ash-white: #eee;
$color-black: #1b1e26;
$color-dark-grey: #333333;
$color-light-grey: #a6a6a6;
$color-grey: #333333;
$color-dark-grey: #2c2c33;

$color-border-grey: #f1f1f1;
$color-banner-back: #f7f8fa;

$color-action-blue: #3f7cd8;
$color-red: #ff4136;

$color-brand-purple: #01004c;
$color-brand-blue: #69a6e3;
$color-brand-blue-secondary: #387abc;
$color-brand-light-blue: #d0e7ff;
$color-brand-green: #02a663;

$color-background-blue: #f5faff;
